.Alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  font-size: 16px;
}
.Alert.clickDismissable {
  cursor: pointer;
}

.Alert.primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.Alert.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.Alert.danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.Alert.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.Alert .dismissBtn {
  display: inline-block;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 0;
}
.Alert .dismissBtn::after {
  content: 'X';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: #777;
}