.Button {
  display: inline-block;
  padding: 7px 12px 9px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 3px;
  background-image: none !important;
  text-shadow: none;
  box-shadow: none;
  transition: all 0.12s linear 0s !important;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
}

.Button.primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.Button.primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.Button.primary:active {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

.Button.danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.Button.danger:hover {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.Button.danger:active {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}