.Modal {
  text-align: left;
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 12px 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 5px;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}

.ModalTitle {
  position: relative;
  padding: 3px 3px 5px 3px;
  border-bottom: 1px solid #eee;
}
.ModalTitle button {
  position: absolute;
  right: 3px;
  top: 3px;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;

}
.ModalTitle h3 {
  margin: 0;
}

.ModalButtons {
  display: flex;
  justify-content: flex-end;
}
.ModalButtons > * {
  margin-left: 5px;
}